* {
  margin: 0px;
}

html {
  background-image: url("https://cf.geekdo-images.com/fSUq9KEec2doJsukBl8mYg__original/img/w2udATqZIxRgo-bz5On3vNrbIj4=/0x0/filters:format(png)/pic6611444.png");
  color: white;
}

#root {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

div {
  text-align: center;
}
h1 {
  margin: 50px 0px 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-top: 30px;
  margin: 20px 20px;
  padding: 20px 20px;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.508);
  width: 500px;
  color: black;
}

.formfields {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin-top: 30px;
}

.formpart {
  min-width: 35%;
}

fieldset,
#recommenddiv {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: left;
  padding: 5px 0px;
  margin: 0px;
  border: none;
}
.game {
  margin: 20px 20px;
  padding: 20px 20px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.508);
  width: 500px;
}

.gamecover {
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
}

input,
button[type="submit"] {
  min-height: 25px;
  margin: 2px 0px;
  color: white;
  background-color: black;
  accent-color: black;
}

input:focus,
input:not(:placeholder-shown) {
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);
}

input[type="checkbox"] {
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);
}

button {
  background: none;
  border: 3px dotted white;
  color: white;
  margin: 10px 0px;
  border-radius: 10px;
  padding: 5px 10px;
}

button:hover {
  background: white;
  border: 3px dotted white;
  color: black;
}
