* {
  margin: 0px;
}

html {
  background-image: url("https://cf.geekdo-images.com/fSUq9KEec2doJsukBl8mYg__original/img/w2udATqZIxRgo-bz5On3vNrbIj4=/0x0/filters:format(png)/pic6611444.png");
  color: white;
}

#root {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

div {
  text-align: center;
}
h1 {
  margin: 50px 0px 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

fieldset,
#recommenddiv {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: left;
  padding: 5px 0px;
  margin: 0px;
  border: none;
}
.game {
  margin: 20px 20px;
  padding: 20px 20px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.508);
  width: 500px;
}

.gamecover {
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
}

input,
button[type="submit"] {
  min-height: 25px;
  margin: 2px 0px;
}
